.pagination {
  display: flex;
  width: 100%;
  gap: 0.7rem;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageNumber,
.arrow {
  border: none;
  background-color: white;
  cursor: pointer;
}

.pageNumber {
  padding: 0.5rem;
}

.pageNumber:disabled,
.arrow:disabled {
  cursor: default;
}
