.item {
  display: flex;
  width: 100%;
  gap: 0.7rem;
}

.wrapper {
  width: 4rem;
  height: 4rem;
  background-color: #f2f4f5;
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.title {
  font-size: 0.7rem;
}

.extra {
  font-size: 0.8rem;
  color: #6c7072;
}
