.item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 0.7rem;
  background-color: #ebf0f2;
  border-radius: 10px;
  cursor: pointer;
}

@media (min-width: 600px) {
  .item {
    max-width: 20rem;
  }
}

.wrapper {
  width: 100%;
  height: 10rem;
  background-color: #3d3d3d;
  background-position: top;
  background-size: cover;
  border-radius: 8%;
}

@media (min-width: 600px) {
  .wrapper {
    background-position: center;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 0.5em;
}

.title {
  margin: 0;
  font-size: 0.8rem;
  font-weight: bold;
}

.extra {
  font-size: 0.6rem;
  color: #202020;
}

@media (min-width: 768px) {
  .title {
    font-size: 1rem;
  }
  .extra {
    font-size: 0.8rem;
  }
}
