.categories {
  display: flex;
  margin-top: 4.75rem;
  width: 100%;
  gap: 0.5rem;
  align-items: flex-start;
  box-sizing: border-box;
  overflow-x: auto;
  flex-wrap: nowrap;
  scrollbar-width: none;
}

@media (min-width: 768px) {
  .categories {
    justify-content: center;
  }
}

.item,
.active {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  padding: 0.3rem 0.7rem;
  border: none;
  border-radius: 16px;
  color: black;
  background-color: #f2f4f5;
  transition: color 0.14s;
}

@media (min-width: 768px) {
  .item,
  .active {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}

.active {
  background-color: #e7e7ff;
  color: #6b43ff;
}

.item:hover,
.active:hover {
  color: rgb(62, 19, 221);
}

::-webkit-scrollbar {
  display: none; /* Скрывает полосу прокрутки в Safari вроде */
}
