.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--card-background);
  border-bottom: 1.5px solid black;
  z-index: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .header {
    padding: 0 2rem;
  }
}

.logo {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  transition: transform 0.14s;
}

.logo:hover {
  transform: scale(1.02);
}

.logo-icon {
  width: 6.87em;
  height: 3.58em;
}

.search-container {
  display: flex;
  align-items: center;
}

.search {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  margin-left: 0.7em;
}

.search-icon {
  width: 1.1em;
  height: 1.6em;
  color: var(--card-text);
  transition: transform 0.14s, color 0.2s;
}

.theme {
  display: block;
  padding: 0;
  margin-left: 1rem;
  color: var(--card-text);
  background-color: transparent;
  transition: transform 0.14s, color 0.2s;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.search-icon:hover,
.theme:hover {
  transform: scale(1.05);
  color: rgb(110, 110, 224);
}

.search-icon:hover,
.theme:active {
  color: rgb(66, 66, 224);
}
